    /* dufourStyle.css */ 
        /* First version: 2013-11-04 */ 
        /* Revised: 2013-11-06, 2013-11-07, 2013-11-09, 2013-11-10, 2013-11-18, 2013-11-20, 2015-02-09 */ 
        /* Style rules used in dufour.html */ 
        
        /*  Link colors */ 
        
        a:link {color: #000099;} 
        a:active {color: #009900;} 
        a:hover {color: #003300;} 
        a:visited {color: #CC0000;} 
        
        /* Spacing between list elements */ 
        
        li { 
            margin-bottom: 10px; 
            } 
       
        /* Body fonts and colors */ 
        
        .body_base { 
            color: #000000; 
            background-color: #FFFFFF; 
            font-family: "Times New Roman", Times, FreeSerif, serif; 
            font-size: 110%; 
            font-style: normal; 
            font-weight: normal; 
            text-align: justify; 
            } 
        
        /* Text alignment */ 
        .center { 
            text-align: center; 
            }
        .justify { 
            text-align: justify; 
            }
        
        /* Float and division positioning classes (used with div) */ 
        
        .content { 
            position: relative; 
            width: 56%; 
            left: 22%; 
            } 
        .content-center { 
            position: relative; 
            left: 1%; 
            text-align: center; 
            } 
        .content-left0 { 
            position: relative; 
            width: 56%; 
            left: 1%; 
            } 
        .content-left0-W78 { 
            position: relative; 
            width: 78%; 
            left: 1%; 
            } 
        .content-left0-center { 
            position: relative; 
            width: 56%; 
            left: 1%; 
            text-align: center; 
            } 
        .content-left { 
            position: left; 
            width: 56%; 
            left: 22%; 
            } 
        .float-left-35 { 
            float: left; 
            width: 35%; 
            border-left: 8px solid #FFFFFF; 
            } 
        .float-right-35 { 
            float: right; 
            width: 35%; 
            border-left: 8px solid #FFFFFF; 
            } 
        .float-left-35 { 
            float: left; 
            width: 35%; 
            } 
        .float-left-60 { 
            float: left; 
            width: 60%; 
            }
        .float-left-100 { 
             float: left; 
             width: 100%; 
            } 
        .menu-absolute { 
            position: absolute; 
            width: 20%; 
            border-right: 5px ridge grey; 
            } 
        .menu-fixed-auto { 
            position: fixed; 
            width: 20%; 
            height: 97%; 
            overflow: auto; 
            border-right: 5px ridge grey; 
            font-size: 95%; 
            } 
        .menu-fixed { 
            position: fixed; 
            width: 20%; 
            border-right: 5px ridge grey; 
            } 
        .menu-fixed-left { 
            position: left; 
            width: 20%; 
            border-right: 5px ridge grey; 
            } 
        .menu-fixed-right { 
            position: fixed; 
            top: 0px;
            left: 60%;
            width: 20%; 
            height: 97%; 
            overflow: auto; 
            border-left: 5px ridge grey; 
            font-size: 95%; 
            }  
        .menu-fixed-right-W20 { 
            position: fixed; 
            top: 0px;
            left: 80%;
            width: 20%; 
            height: 97%; 
            overflow: auto; 
            border-left: 5px ridge grey; 
            font-size: 95%; 
            } 
        .menu-fixed-right-W40 { 
            position: fixed; 
            top: 0px;
            left: 60%;
            width: 40%; 
            height: 97%; 
            overflow: auto; 
            border-left: 5px ridge grey; 
            font-size: 95%; 
            } 
        .menu-fixed-scroll { 
            position: fixed; 
            width: 20%; 
            height: 97%; 
            overflow: scroll; 
            border-right: 5px ridge grey; 
            } 
        .menu-fixed-scroll-y { 
            position: fixed; 
            width: 20%; 
            height: 97%; 
            overflow-y: scroll; 
            border-right: 5px ridge grey; 
            } 
        .menu-relative-auto { 
            position: relative; 
            width: 20%; 
            height: 97%; 
            overflow: auto; 
            border-right: 5px ridge grey; 
            font-size: 95%; 
            } 

            